/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* prevent from breaking */
body { min-width: 1212px; }

h2 { font-size: 32px; } 
h3 { font-size: 20px; }

/* radio input */

/* hr */

hr { border: 1px solid; }

/* HEADER */

/* menù start */

.head {
    background-color: white;
    position: fixed;
    height: 64px;
    padding: 0 24px;
    box-shadow: 0px 0px 4px rgba(0,0,0,.2);
}

.head a:not(#logo) {
    text-decoration: none;
    color: black;
    line-height: 0;
    padding: 31px 12px;
    font-size: 14px;
    border: 2px solid transparent;
}

.head a:not(#logo):hover {
    border-bottom: 2px solid black;
}

/* menù end */

/* jumbo start */

header .container {
    padding: 64px 5% 0 5%;
    height: 730px;
}

header .container > div {
    max-width: 1100px;
}

header .container > div > h1 {
    font-weight: 900;
    font-size: 80px;
}

header .info-container > p {
    max-height: 150px;
    overflow-y: auto;
}

header .info-container > button {
    margin: 24px 0;
}

header .info-container > i {
    font-size: 48px;
    padding: 50px 0;
}

header .img-container > img {
    max-width: 100%;
}

/* jumbo end */

/* MAIN */

main section .container {
    max-width: 950px;
    font-size: 14px;
}

/* plans section */

main section .plan :last-child {
    border-top: 0px;
}

main section .plan > div {
    border: 2px solid #E1E1E3;
    padding: 10px;
}

main section .plan > .title {
    text-align: center;
}

main section .plan > .content {
    padding: 30px 25px;
}

main section .plan .content .price {
    font-weight: 600;
    margin: 12px 0;
}

main section .plan .content > .period {
    color: #8a8a8a;
}

/* overwrite "large button" width */
main section .plan .content > button {
    width: 100%;
}

/* team section */

.logo {
    width: 110px;
    filter: invert(1);
}

.middle-container {
    padding: 48px;
}

.middle-container img {
    width: 50%;
    max-width: 300px;
}

.middle-container p {
    font-size: 13px;
}

/* FAQ section */

.faq {
    height: auto;
}

.faq .expandable {
    overflow-y: hidden;
    opacity: 0;
    transition: height 0.5s ease, opacity 1s;
    height: 0px;
}

.faq:hover .expandable {
    opacity: 1;
    height: 80px;
}

.faq:hover i.fa-angle-down {
    transform: rotateX(180deg) ;
}

.faq i.fa-angle-down {
    transition: all 1s ease;
}

/* FOOTER */

footer a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

footer a:hover {
    text-decoration: underline;
}

