/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /* overflow-y: auto; */
}

.m-5 { margin: 0 5%; }
.bg-cyan { 
    background-color: #B4D0E7;
    width: 100%; 
}

/* buttons */

.button {
    font-size: 14px;
    padding: 6px 12px;
    border: 0px;
    cursor: pointer;
}

.button.blue {
    background-color: #0061FF;
    color: white;
}

.button.blue:hover {
    background-color: #5898ff;
}

.button.white {
    background-color: white;
    color: black;
}

.button.border {
    border: 2px solid black;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    background-color: white;
}

/* menù start */

.head {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 64px;
    padding: 0 24px;
}

/* .head > div {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    width: 100%;
    background-color: white;
} */

.head > div {
    display: flex;
    align-items: center;
}

.head a:not(#logo) {
    text-decoration: none;
    color: black;
    line-height: 0;
    padding: 32px 12px;
    font-size: 14px;
}

.head a:not(#logo):hover {
    border-bottom: 2px solid black;
}

#logo {
    margin-right: 12px;
}

/* menù end */

/* jumbo start */

header .container {
    background-color: #B4D0E7;
    /* margin-top: 64px; */
    padding: 64px 5% 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 730px;
}

header .container > div {
    margin: 48px 0 0 0;
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
}

header .container > div > h1 {
    font-weight: 900;
    font-size: 80px;
}

header .info-container {
    width: 30%;
}

header .info-container > p {
    max-height: 150px;
    overflow-y: auto;
}

header .info-container > button {
    margin: 24px 0;
}

header .info-container > i {
    font-size: 48px;
    padding: 20% 0;
}

header .img-container {
    width: 70%;
}

header .img-container > img {
    max-width: 100%;
}

/* jumbo end */

